.yoyo { 
    width:50px; 
    height:50px; 
    margin-top:180px; 
    border-radius: 50%;
    transform-origin:300% center;
    position:absolute; 
    top:200px;
    bottom:0;
    left:800px;
    right:0;
    animation:rotate 1s linear infinite; 
  }
  
.yoyo:before { 
    content:''; 
    position: absolute;
    top:0px;
    bottom:0;
    left:0px;
    right:0;
    height:100%; 
    width:100%; 
    background:blue; 
    border-radius: 50%;
    animation:rotate 2s linear reverse infinite; 
  }

.rhand {
    width: 80px;
    height: 80px;
    margin-top:180px;
    border-radius: 50%;
    position: absolute;
    top:200px;
    bottom:0;
    left:900px;
    right:0;
    background: red;
}

.rhand:before {
    content:'';
    position: absolute;
}

@keyframes rotate {
     100% { transform:rotate(360deg); } 
    }

body { 
    background: white; 
} /* The best color ever */